@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"),
       url("../fonts/roboto-bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/roboto-bold.woff2") format("woff2"),
       url("../fonts/roboto-bold.woff") format("woff"),
       url("../fonts/roboto-bold.ttf") format("truetype"),
       url("../fonts/roboto-bold.svg#Roboto-Bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
