@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"),
       url("../fonts/roboto-thin.eot?#iefix") format("embedded-opentype"),
       url("../fonts/roboto-thin.woff2") format("woff2"),
       url("../fonts/roboto-thin.woff") format("woff"),
       url("../fonts/roboto-thin.ttf") format("truetype"),
       url("../fonts/roboto-thin.svg#Roboto-Thin") format("svg");
  font-weight: 250;
  font-style: normal;
}
